body, html {
    font-family: 'Montserrat Alternates', sans-serif;
}

.page-header{
  font-family: 'Permanent Marker', cursive;

}

.bg {
    background-image: url("../img/blackboard.jpg");


    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
