<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>

<body>
	<nav th:replace="fragments/nav"></nav>
	<div class="page-header">
		<div class="jumbotron bg">
			<div class=" page-header text-white text-center">
				<div class="container">
					<p class="display-3 lead">Welcome to InciDashboard!</p>
					<button class="btn btn-primary">Login</button>
				</div>
			</div>
		</div>


	</div>

	<div class="container p-5">
		<p class="display-5 text-black">Want to be up to date with the
			latest incidents that took place recently? You are in the perfect
			place for this, welcome to the InciDashboard.</p>

		<p class="display-5 text-black">Here you will be able to check the
			latest incidents in the world, and, if you are a opearator, you can
			login and check you personal assignations regarding incidents.</p>

	</div>
</body>
</html>
