<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
  <div class="page-header">
    <div class="jumbotron bg">
      <div class=" page-header text-white text-center">
        <nav th:replace="../fragments/nav"></nav>
          <p class="display-3">Incidents list</p>

      </div>

    </div>
  </div>

<!-->Listing of the incidents in the database</!-->
    <div class="container p-5">
      <div class="d-flex flex-row flex-wrap">

      			<div th:if="${!#lists.isEmpty(incidents)}"  th:each="post : ${incidents}" class="card m-2 bg-light rounded" style="width: 18rem;">
      			  <div class="card-body">
      			    <h5 th:text="${incident.name}" class="card-header mb-2"></h5>
      			    <h6 th:text="${incident.agent}" class="card-subtitle mb-2"></h6>
      			    <p th:text="${post.description}" class="card-text"></p>
      			    <button class="btn btn-primary">See in a map</button>

      			  </div>
      			</div>
      			
    			<div  class="card m-2 bg-light rounded" style="width: 18rem;">
      			  <div class="card-body">
      			    <h5 th:text="Fire" class="card-header mb-2"></h5>
      			    <h6 th:text="Alberto Pérez" class="card-subtitle mb-2"></h6>
      			    <p th:text="There was an incredibly big fire in Houston, Texas, near the main police station" class="card-text"></p>
      			    <button class="btn btn-primary">See in a map</button>

      			  </div>
      			</div>
      			
            
      		</div>

    </div>

</body>
</html>
